<% provide(:title, 'Home Page') %>

<h1>Turtle App</h1>
<p>I like turtles.  Do you?</p>
<p>Welcome to the Turtle App</p>

<div id="turtleImage">
	<p>check out this sum'a bitch:</p>
	<%= image_tag "woot-turtle.jpg" %>
</div>